/* Navbar container */
.navbar {
    background-color: #0D6EFD;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     font-family: "Arial, sans-serif";
}

/* Logo */
.logo {
    margin-left: 100px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Nav links */
.nav-links {
    list-style: none;
    display: flex;
    margin-right: 600px;
    padding: 0;
    font-weight: bold; 
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

/* Hover effect */
.nav-links a:hover {
    color: #000000;
}

li{
 padding-right: 50px;
 
}