 <!-- <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
/> -->

     <div *ngIf="showAlert" class="custom-alert">
  <div class="alert-content">
    <span class="alert-icon">✔</span>
    <span class="alert-text">{{ alertMessage }}</span>
  </div>
</div>

 <div class="container">
    
        <div class="row">
            
            <!-- New Appointment -->
             <form [formGroup]="AppoinmentForm" *ngIf="addForm">
            <div class="card appointment-card">
                <h2>New Appointment</h2>
               <div>
                    <label><span style="color: red;">*</span>Name</label>
                <input type="text" formControlName="name" class="input" placeholder="Enter your name">
                <span class="error-msg" *ngIf="AppoinmentForm.controls.name?.invalid && AppoinmentForm.controls.name?.touched"> 
                   <span *ngIf="AppoinmentForm.controls['name']?.errors?.['required']"> username is required</span>
                   <span *ngIf="AppoinmentForm.controls.name?.errors?.['minlength']">minimum 3 letters required</span>
                </span>
               </div><br>  
            
                <div>
                <label><span style="color: red;">*</span>Doctor</label>
                <select class="input" formControlName="doctor" >
                    <option>Cardiology</option>
                    <option>Neurology</option>
                    <option>Orthopedics</option>
                </select>
                <span class="error-msg" *ngIf="AppoinmentForm.controls.doctor?.invalid && AppoinmentForm.controls.doctor?.touched"> 
                   <span *ngIf="AppoinmentForm.controls['doctor']?.errors?.['required']"> doctor name is required</span>
                   </span>
                </div><br>
             
                <div>
                     <label><span style="color: red;">*</span>Appointment Date</label>
                <input type="date" formControlName="appoinment_date" class="input">
                <span class="error-msg" *ngIf="AppoinmentForm.controls.appoinment_date?.invalid && AppoinmentForm.controls.appoinment_date?.touched"> 
                   <span *ngIf="AppoinmentForm.controls['appoinment_date']?.errors?.['required']"> date is required</span>
                   </span>
                </div><br>


                <button (click)="bookAppoinment(AppoinmentForm.value)" class="btn-success">Book Appointment</button>
            </div>
            </form>
            <!-- edit form -->
              <form [formGroup]="AppoinmentForm" *ngIf="editForm">
            <div class="card appointment-card">
                <h2>Edit Appointment</h2>
               <div>
                    <label><span style="color: red;">*</span>Name</label>
                <input type="text" formControlName="name" class="input" placeholder="Enter your name">
                <span class="error-msg" *ngIf="AppoinmentForm.controls.name?.invalid && AppoinmentForm.controls.name?.touched"> 
                   <span *ngIf="AppoinmentForm.controls['name']?.errors?.['required']"> username is required</span>
                   <span *ngIf="AppoinmentForm.controls.name?.errors?.['minlength']">minimum 3 letters required</span>
                </span>
               </div><br>  
            
                <div>
                <label><span style="color: red;">*</span>Doctor</label>
                <select class="input" formControlName="doctor" >
                    <option>Cardiology</option>
                    <option>Neurology</option>
                    <option>Orthopedics</option>
                </select>
                <span class="error-msg" *ngIf="AppoinmentForm.controls.doctor?.invalid && AppoinmentForm.controls.doctor?.touched"> 
                   <span *ngIf="AppoinmentForm.controls['doctor']?.errors?.['required']"> doctor name is required</span>
                   </span>
                </div><br>
             
                <div>
                     <label><span style="color: red;">*</span>Appointment Date</label>
                <input type="date" formControlName="appoinment_date" class="input">
                <span class="error-msg" *ngIf="AppoinmentForm.controls.appoinment_date?.invalid && AppoinmentForm.controls.appoinment_date?.touched"> 
                   <span *ngIf="AppoinmentForm.controls['appoinment_date']?.errors?.['required']"> date is required</span>
                   </span>
                </div><br>


                <button (click)="update()" class="btn-success">Edit</button>
            </div>
            </form>

            <!-- table -->
            <div class="card-1">
            <h2>Appoinments</h2>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Doctor</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let appoinment of appoinments">
                        <td>{{appoinment._id}}</td>
                        <td>{{appoinment.name}}</td>
                        <td>{{appoinment.doctor}}</td>
                        <td>{{appoinment.appoinment_date}}</td>
                        <!-- <td><span class="badge green">Admitted</span></td> -->
                        <td><button (click)="EditForm(appoinment)" class="btn-warning">Edit</button></td>
                        <td><button (click)="delete(appoinment._id)" class="btn-danger">Delete</button></td>
                    </tr>


                </tbody>
            </table>
           
        </div>
        
       
    </div>
    